* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f9f9f9;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

header #navbar {
  background-color: rgba(0, 0, 0, 0.8);
}

#navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  gap: 4rem;
  list-style: none;
  margin: 0 auto;
}

#navbar img {
  margin-top: 6px;
}

#navbar a {
  color: #fff;
  text-decoration: none;
  font-size: 12px;
}

#header-bottom {
  padding: 16px;
  width: 100vw;
  background-color: #fff;
  border-bottom: 1px solid #d4d4d4;
}

#header-bottom-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1000px;
  margin: 0 auto;
}

#bottom-header-links a {
  color: #000;
  text-decoration: none;
  margin: 0 8px;
  font-size: 13px;
}

#bottom-header-links .btn {
  background-color: #0071e3;
  color: #fff;
  border-radius: 20px;
  padding: 6.4px 16px;
}

#ribbon {
  background-color: #f5f5f7;
  text-align: center;
  font-size: 13px;
  padding: 16px;
}

#ribbon a {
  text-decoration: none;
  color: #0071e3;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 1000px;
  row-gap: 32px;
}

#title {
  font-size: 19px;
  margin-top: 16px;
}

#subtitle {
  font-size: 64px;
  font-weight: bold;
}

#caption {
  font-size: 1.1rem;
  text-align: center;
  line-height: 1.5rem;
  max-width: 600px;
}

#price {
  font-size: 21px;
  margin-top: 16px;
  color: #86868b;
}

main .btn {
  background-color: #0071e3;
  color: #fff;
  text-decoration: none;
  border-radius: 20px;
  padding: 0.8rem 1.4rem;
}

main img {
  max-width: 1000px;
  margin: 3rem auto;
  opacity: 1;
  transition: 0.5s;
}

.changing {
  opacity: 0.5;
}

main ul {
  display: flex;
  flex-direction: row-reverse;
  list-style: none;
}

main ul > li {
  padding: 16px;
}

main span {
  margin: 0 auto;
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 3px solid #fff;
  box-shadow: 1px 1px 1px #000000;
  pointer-events: none;
}

#green span {
  background-color: #394c38;
}
#silver span {
  background-color: #f1f2ed;
}
#golden span {
  background-color: #fae7cf;
}
#grafite span {
  background-color: #54524f;
}
#blue span {
  background-color: #a7c1d9;
}

.selected {
  outline: 2px solid #43a1ff;
}

.description {
  font-size: 0.7rem;
  color: #54524f;
  margin-top: 10px;
  cursor: pointer;
  text-align: center;
}

/* Mobile */
@media (max-width: 480px) {
  #navbar li {
    display: none;
  }
  #navbar #logo {
    display: flex;
  }

  #bottom-header-links a {
    display: none;
  }

  #bottom-header-links .btn {
    display: flex;
  }

  header .btn {
    display: flex;
  }

  main {
    padding: 2rem;
    overflow: hidden;
  }

  main #subtitle {
    font-size: 48px;
    text-align: center;
  }

  main #caption {
    font-size: 1rem;
  }
}
